# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Django
db.sqlite3
media/
staticfiles/

# Virtual env
venv/
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Docker
*.pid
postgres_data/
infra_postgres_data/